In [1]:
import pandas as pd

In [4]:
bk_df=pd.read_csv("./data/bike-share/bike-share.csv")
col_df=pd.read_csv("./data/collision/nypd-collision.csv")

D:\Programs\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
print("Total bike-share dataset rows: ",len(bk_df))
print("Total collision dataset rows: ",len(col_df))

Total bike-share dataset rows:  224736
Total collision dataset rows:  1558237

In [12]:
print("Bike-share header info: \n",bk_df.columns)
print("\n Collision header info header info: \n",col_df.columns)

Bike-share header info:
 Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

 Collision header info header info:
 Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

### Collision data set EDA

In [13]:
col_df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,08/24/2019,11:53,NaN,NaN,NaN,NaN,NaN,CROSS BRONX EXPY RAMP,NaN,NaN,...,Aggressive Driving/Road Rage,NaN,NaN,NaN,4194003,Sedan,Sedan,NaN,NaN,NaN
1,08/24/2019,13:22,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE LOWER,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4194562,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2,08/24/2019,23:00,NaN,NaN,NaN,NaN,NaN,MEEKER AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4194211,Sedan,Motorcycle,NaN,NaN,NaN
3,08/24/2019,23:50,NaN,NaN,NaN,NaN,NaN,MERIDIAN RD,NEW YORK AVE,NaN,...,NaN,NaN,NaN,NaN,4193896,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,08/23/2019,0:12,NaN,NaN,40.825134,-73.95141,POINT (-73.95141 40.825134),BROADWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4193507,Pick-up Truck,Sedan,NaN,NaN,NaN

### Cyclists injured or killed

In [18]:
cyclist_df=col_df[(col_df["NUMBER OF CYCLIST KILLED"] > 0) | (col_df["NUMBER OF CYCLIST INJURED"] >0)]

In [19]:
print("# of cyclists killed or injured: ", len(cyclist_df))

# of cyclists killed or injured:  32132

In [ ]:
import plotly.graph_objects as go

mapbox_access_token = ""
bk = df_bk.head(200)
data = [go.Scattermapbox(
        lat=cyclist_df['LATITUDE'],
        lon=cyclist_df['LONGITUDE'],
        mode='markers',
        name="Collisions",
        marker=go.scattermapbox.Marker(
            size=9
        ),
        text=cyclist_df['ZIP CODE'],
    ),
         go.Scattermapbox(
            lat= bk['start station latitude'] ,
            lon= bk['start station longitude'],
            text = bk['start station name'],
            name="Start Station",
            mode='markers',
             marker=go.scattermapbox.Marker(
            size=5
        )
          )
        ,
         go.Scattermapbox(
            lat= bk['end station latitude'] ,
            lon= bk['end station longitude'],
            text = bk['end station name'],
            name="End station",
            mode='markers',
             marker=go.scattermapbox.Marker(
            size=3
        )
          )
       
       ]

layout = go.Layout(
    autosize=True,
    hovermode='closest',
    mapbox=go.layout.Mapbox(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=go.layout.mapbox.Center(
            lat=40.7128,
            lon=-74.0060
            
        ),
        pitch=0,
        zoom=10
    ),
)
from  plotly.offline import plot
from chart_studio.plotly import iplot
fig = dict(data=data, layout=layout)
plot(fig)